@import "tailwindcss";

body {
    margin: 0;
    overflow: hidden;
}

aside {
    width: 350px;
    padding: 1rem;
}

main {
    flex: 1;
    position: relative;
}

.vehicle-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
}

.vehicle-card label {
    font-weight: 500;
    display: block;
    margin-top: 0.5rem;
}

.flatpickr-hidden-input {
    display: none !important;
}

sl-input[type="datetime-local"]:empty {
    display: none;
}

#end-date-time-field {
    display: none;
}

sl-progress-bar {
    --track-color: transparent;
    --indicator-color: #1764cc;
}

:root {
    --sl-color-primary: #1764cc;
    --sl-color-success: #22c55e;
    --sl-color-primary-600: #1764cc;
    --sl-color-danger: #ef4444;
    --sl-color-warning: #facc15;
}

sl-drawer::part(overlay) {
    display: none;
}

.drawer--bottom .drawer__panel {
    box-shadow: none
}

#chartCanvas {
    width: 100% !important;
    height: 180px !important;
    padding-right: 500px;
}

.c-map {
    width: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.c-map-toolbar-horizontal {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 72px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    pointer-events: none;
}

.c-map-toolbar-horizontal.c-map-toolbar-horizontal__bottom {
    top: auto;
    bottom: 0;
    padding: 16px 72px 16px 16px;
}

.c-map-toolbar-horizontal>*:not(.flex-fill),
.c-map-toolbar-vertical>*:not(.flex-fill) {
    pointer-events: auto;
}

.c-map-toolbar-vertical {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: inherit;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.mapboxgl-popup-close-button {
    background-color: transparent;
    border: 0;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 20px;
}


.mapboxgl-popup-close-button {
    width: 32px;           /* ширина кнопки */
    height: 32px;          /* высота кнопки */
    top: 8px;              /* отступ от верхнего края попапа */
    right: 8px;            /* отступ от правого края попапа */
    padding: 0;            /* убираем внутренние отступы, чтобы не смещать крестик */
  }

  /* Увеличиваем размер крестика внутри кнопки */
  .mapboxgl-popup-close-button span {
    display: inline-block;
    font-size: 28px;       /* размер символа "×" */
    line-height: 32px;     /* выравнивание по вертикали внутри кнопки */
  }

.mapboxgl-popup-close-button:hover {
    background-color: transparent;
}

.c-map__x-offset {
    margin: 0 16px;
}

.c-map__right-offset {
    margin-right: 16px;
}

.c-map__left-offset {
    margin-left: 16px;
}

.c-map__y-offset {
    margin: 16px 0;
}

.c-map__top-offset {
    margin-top: 16px;
}

.c-map__bottom-offset {
    margin-bottom: 16px;
}

.flex-fill {
    flex: 1 1 auto !important;
    pointer-events: none;
}

.mapboxgl-popup {
    max-width: 440px !important;
}

.mapboxgl-popup-content {
  position: relative;
  padding-top: 2.9em;
}


sl-button.map-config-button::part(base) {
    display: block;
    position: absolute;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    top: 30px;
    left: 0;
    margin-top: -1.5rem;
    border-color: transparent !important;
    /* border-top-right-radius: var(--p-button-border-radius);
    border-bottom-right-radius: var(--p-button-border-radius); */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: background-color var(--transition-duration);
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
}

.map-config-button {
    display: block;
    position: absolute;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: var(--p-dialog-color);
    background-color: var(--sl-color-neutral-0);
    text-align: center;
    top: 30px;
    left: 0;
    margin-top: -1.5rem;
    border-color: transparent !important;
    border-top-right-radius: var(--p-button-border-radius);
    border-bottom-right-radius: var(--p-button-border-radius);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: background-color var(--transition-duration);
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
}